python-dotenv==1.2.2
openai==2.26.0

fastapi==0.135.1
uvicorn==0.41.0
slowapi==0.1.9

langchain-community==0.4.1
langchain-core==1.2.17
langchain-openai==1.1.10
langchain-text-splitters==1.1.1

faiss-cpu==1.13.2
rank-bm25==0.2.2
